:root {
    --gold_color: #9b7029;
    --white_color: #fff;
    --gray_color_dark: #353434;
    --gray_color_light: #464646;
    --brown_color: #212121;
    --gray_color_dark2: #232323;
    --dark_color: #121212;
    --black_color: #121212;
}
